.hero-section {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #020202;
	display: flex;
	justify-content: space-evenly;
}

.hero-text {
	width: 50vw;
	height: 100vh;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-text div {
	display: flex;
	flex-direction: column;
}

.hero-text h1 {
	font-size: 5rem;
}

.hero-text span {
	font-size: 3rem;
}

.hero-pic {
	height: 100vh;
	transform: scale(1.1);
}
