* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font-main: 'Oswald', sans-serif;
	--font-sub: 'Josefin Sans', sans-serif;
}

h1 {
	font-family: var(--font-main);
	font-weight: 700;
}

span {
	font-family: var(--font-sub);
}

a {
	text-decoration: none;
}

.link--active {
	opacity: 1;
}

/* Navbar */

header {
	font-family: var(--font-main);
	width: 100vw;
	height: 10vh;
	min-height: 80px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999999;
}

nav ul {
	display: flex;
	flex-direction: row;
	width: 450px;
	justify-content: space-between;
	align-items: center;
}

nav a {
	transition: all ease 150ms;
	position: relative;
	color: #000;
	opacity: 0.8;
}

nav a:hover {
	transform: scale(1.1);
}

nav a::after {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	transform: scaleX(0);
	transform-origin: center center;
	transition: all ease 150ms;
}

nav a:hover::after {
	transform: scaleX(1);
}
