/* Initialize
====================*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

:root {
	--font-main: 'Josefin Sans', sans-serif;
	--font-sub: 'Oswald', sans-serif;

	--color-nav: #eacfb5;
	--color-main: #eacfb5;
	--color-bg: #2b474f;
}

h1 {
	font-family: var(--font-main);
	font-weight: 700;
}

span {
	font-family: var(--font-main);
}

a {
	text-decoration: none;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

section {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* Scrollbar
====================*/

::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	display: none;
}

::-webkit-scrollbar-thumb {
	display: none;
}

/* navbar
====================*/

header {
	font-family: var(--font-sub);
	height: 100vh;
	min-width: 100px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: -100%;
	padding-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999999;
	opacity: 0.8;
}

nav ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 2rem;
	position: relative;
}

nav ul::before {
	content: '';
	height: 100%;
	width: 5px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: var(--color-nav);
	z-index: 10;
	opacity: 0.5;
	transition: all ease 200ms;
}

nav a {
	transition: all ease 200ms;
	position: relative;
	color: var(--color-nav);
	opacity: 0.4;
	padding: 1.5rem 0;
}

.link--active {
	opacity: 1;
	position: relative;
}

.link--active::before {
	content: '';
	height: 100%;
	width: 5px;
	position: absolute;
	left: -2rem;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--color-nav);
	z-index: 10;
	opacity: 1;
}

/* Hero Section
====================*/

#hero-section {
	background-color: var(--color-bg);
	position: relative;
}

.hero-text {
	width: 50vw;
	height: 100vh;
	color: var(--color-main);
	position: relative;
	display: flex;
	align-items: center;
	position: absolute;
	left: 15vw;
	top: 0;
}

.hero-text div {
	display: flex;
	flex-direction: column;
}

.main-text {
	font-size: 10rem;
	padding-left: 80px;
	opacity: 0;
}

.sub-text {
	font-size: 3rem;
	font-weight: 300;
	opacity: 0;
	position: relative;
	padding-left: 80px;
}

.hero-pic {
	height: 100vh;
	width: 38vw;
	min-width: 380px;
	background-image: url("../img/bg3.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
}

/* Mission Section
====================*/

#mission {
	background-color: #666866;
}

/* Idea Section
====================*/

#idea {
	background-color: #2b474f;
}

/* Service Section
====================*/

#service {
	background-color: #666866;
}
