/* Initialize
========================= */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	scroll-behavior: smooth;
}

:root {
	--font-main: 'Oswald', sans-serif;
	--font-sub: 'Cabin', cursive;

	--color-nav: #d66165;
	--color-bg: #c95b5e;
	--color-btn: #984a4b;
}

::selection {
	background-color: rgb(192, 57, 43, 0.8);
}

body {
	overflow: hidden;
	color: #fff;
}

img {
	max-width: 830px;
}

/* Other stuff
========================= */

.main-wrapper {
	height: calc(100vh - 64px);
	width: 100vw;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(4, 100vw);
	grid-template-rows: calc(100vh - 64px);
}

.container {
	width: 100vw;
	height: calc(100vh - 64px);
	background-color: var(--color-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contents {
	width: 540px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 170px;
}

/* Typography
========================= */

h1 {
	font-size: 70px;
	font-family: var(--font-main);
	margin-bottom: 10px;
}

p {
	font-size: 22px;
	font-family: var(--font-sub);
	opacity: 0.8;
	width: 536px;
}

/* Nav bar
========================= */

header {
	height: 64px;
	width: 100vw;
	background-color: var(--color-nav);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 99999;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav *:focus {
	outline: 0;
	background-color: rgba(255, 255, 255, 0.2);
}

nav button:focus {
	background-color: transparent !important;
}

.nav-links,
.nav-links:visited {
	font-family: var(--font-sub);
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	margin-right: 35px;
	font-size: 24px;
	position: relative;
	transition: opacity ease 250ms;
	background-color: transparent;
	border: 0;
}

.nav-links:last-of-type,
.nav-links:last-of-type:visited {
	margin-right: 0;
}

.nav-links:after {
	content: '';
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: -3px;
	left: 0;
	background-color: #fff;
	opacity: 0;
	transform: scaleX(0);
	transform-origin: center center;
	transition: transform ease 250ms, opacity ease 250ms;
}

.nav-links:hover {
	opacity: 1;
}

.nav-links:focus::after,
.nav-links:hover::after {
	transform: scaleX(1);
	opacity: 1;
}

.nav-links--active {
	opacity: 1;
}

/* Home
========================= */

.home-content {
	margin-right: 100px;
}

.home-content__info {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 556px;
}

.home-content__info h1 {
	font-size: 100px;
}

.home-content__info p {
	padding-left: 3px;
	width: 80%;
	font-size: 28px;
}

#home-SVG {
	width: 830px;
	max-width: none;
}

#homeBtn {
	border: 0;
	padding: 0.5em 2em;
	font-family: var(--font-main);
	background-color: var(--color-btn);
	color: rgba(255, 255, 255, 0.85);
	border-radius: 50px;
	font-size: 23px;
	display: block;
	margin-left: auto;
	margin-top: 50px;
	transition: transform ease 250ms;
	position: relative;
}

#homeBtn:focus {
	outline: 0;
	transform: scale(1.1);
}

#homeBtn:focus::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: inherit;
}

#homeBtn:hover {
	transform: scale(1.1);
}

/* Contact
========================= */

.contact-list {
	display: grid;
	grid-template-columns: 600px;
	grid-template-rows: repeat(3, 180px);
	grid-gap: 25px;
	margin-left: 150px;
}

.contact {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact__name {
	font-family: var(--font-main);
	font-size: 50px;
}

.contact__info {
	font-family: var(--font-sub);
	font-size: 20px;
	opacity: 0.8;
}

i {
	margin-right: 6px !important;
}
