/* Initialize
========================= */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--font-main: 'Oswald', sans-serif;
	--font-sub: 'Cabin', cursive;

	--color-nav: #d66165;
	--color-bg: #c95b5e;
	-color-btn: #984a4b;
}

body {
	overflow: hidden;
	color: #fff;
}

.container {
	width: 100vw;
	height: calc(100vh - 64px);
	background-color: var(--color-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-wrapper {
	height: calc(100vh - 64px);
	display: flex;
	position: absolute;
	top: 64px;
	left: 0;
}

/* Typography
========================= */

h1 {
	font-size: 70px;
	font-family: var(--font-main);
}

p {
	font-size: 24px;
	font-family: var(--font-sub);
}

h1.home-title {
	font-size: 120px;
}

p.home-sub {
	font-size: 28px;
}

/* Nav bar
========================= */

header {
	height: 64px;
	width: 100vw;
	background-color: var(--color-nav);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 99999;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-links,
.nav-links:visited {
	font-family: var(--font-sub);
	color: #fff;
	opacity: 0.6;
	text-decoration: none;
	margin-right: 35px;
	font-size: 24px;
	position: relative;
	transition: opacity ease 250ms;
}

.nav-links:last-of-type,
.nav-links:last-of-type:visited {
	margin-right: 0;
}

.nav-links:after {
	content: '';
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: -3px;
	left: 0;
	background-color: #fff;
	opacity: 0;
	transform: scaleX(0);
	transform-origin: center center;
	transition: transform ease 250ms, opacity ease 250ms;
}

.nav-links:hover {
	opacity: 1;
}

.nav-links:hover::after {
	transform: scaleX(1);
	opacity: 1;
}

.nav-links--active {
	opacity: 1;
}

/* Home
========================= */

#home-SVG {
	width: 830px;
}
